.banner {
  background-image: url("https://thumbs.dreamstime.com/z/p%C3%ADldoras-del-analg%C3%A9sico-concepto-medicamento-fondo-de-la-farmacia-y-medicina-copie-el-espacio-para-texto-147630207.jpg");
  position: relative;
  top: 3.95em;
  height: 85.5vh;

  .bannerContainer {
    color: rgb(255, 255, 255);
    width: 50%;
    padding-top: 160px;
    text-align: center;

    h1 {
      color: rgb(255, 255, 255);
      margin-bottom: 10px;
      font-size: 60px;
      font-weight: 600;
      letter-spacing: 3px;
    }

    p {
      margin-bottom: 40px;
      letter-spacing: 1px;
    }

    a {
      color: #fff;
      text-decoration: none;
      margin: 12px;
      padding: 6px;
      border: 2px solid rgb(255, 255, 255);
      border-radius: 10px;
    }
  }
}
